version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    reviewers:
      - "The-Cloud-Clock-Work/maintainers"
    labels:
      - "dependencies"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    reviewers:
      - "The-Cloud-Clock-Work/maintainers"
    labels:
      - "dependencies"
      - "ci"
