name: SonarQube Scan

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  sonar:
    uses: The-Cloud-Clock-Work/.github/.github/workflows/sonar-reusable.yml@main
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
      CF_ACCESS_CLIENT_ID: ${{ secrets.CF_ACCESS_CLIENT_ID }}
      CF_ACCESS_CLIENT_SECRET: ${{ secrets.CF_ACCESS_CLIENT_SECRET }}
